node_modules
**/node_modules
dist
**/dist
.git
.env
.env.*
!.env.example
npm-debug.log*
*.log
coverage
.next
out
cache
broadcast
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
axon-design
*.tsbuildinfo
.DS_Store
